<section class="container criar-produtos ff-inter">
  <header class="header">
    <h2>Adicione um novo Produto:</h2>
  </header>
  <form [formGroup]="formulario" #form="ngForm" >

    <label for="produto">Nome</label>
    <input type="textarea"  class="input"  id="name" name="name" placeholder="Digite o nome do produto" [(ngModel)]="produto.name">



    <label for="categorias">Categoria</label>
    <select [(ngModel)]="produto.category" name="categorias" id="categorias">
      <option value="" selected disabled hidden>Escolha uma categoria</option>
      <option *ngFor="let categoria of listaCategorias" [value]="categoria.id" >{{categoria.name}}</option>
    </select>


    <label for="produto">Preço</label>
    <input type="number" class="input" id="price" name="price" placeholder="Digite o preço do produto" [(ngModel)]="produto.price">
    <label for="produto">Serie</label>
    <input type="number" class="input" id="serie" name="serie" placeholder="Digite a serie do produto" [(ngModel)]="produto.serie">

  </form>
  <div class="acoes">
    <button (click)="validate()" (click)="criar_produto()" class="botao">Salvar</button>
    <button (click)="cancelar_criacao_produto()" class="botao">Cancelar</button>
  </div>
</section>
