<section class="container editar-categorias ff-inter">
  <header class="header">
    <h2>Edite a categoria:</h2>
  </header>
  <form>
    <label for="categoria">Nome</label>
    <input type="textarea" class="input" id="name" name="name" placeholder="Digite o nome da categoria" [(ngModel)]="categoria.name">

  </form>
  <div class="acoes">
    <button  (click)="editar_Categoria()" class="botao">Salvar</button>
    <button (click)="cancelar_edicao()" class="botao">Cancelar</button>
  </div>
</section>
